{% extends "base.html" %}

{% block title %}Форма входа зарегистрированного пользователя{% endblock %}


{% block content %}

<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="http://127.0.0.1:5000/" class="nav-link px-2 text-secondary">Главная</a></li>
          <li><a href="http://127.0.0.1:5000/user_page_users" class="nav-link px-2 text-white">Страница зарегистрированного пользователя</a></li>
        </ul>
      </div>
    </div>
  </header>



  <div class="container text-center">
    <h2>Форма входа на сайт</h2>
  </div>



<!--<form action="">
    <div class="container col-md-4 p-5">
  <label for="exampleFormControlInput1" class="form-label">Введите ваш адрес электронной почты:</label>
  <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="container col-md-4 p-5">
  <label for="exampleFormControlInput1" class="form-label">Ведите ваш логин:</label>
  <input type="text" name="login" class="form-control" id="exampleFormControlInput1" placeholder="login">
</div>

<div class="container col-md-4 p-5">
  <label for="exampleFormControlInput1" class="form-label">Ведите ваш пароль:</label>
  <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
</div>

<div class="container col-md-4 p-5 text-center">
  <button type="submit" class="btn btn-secondary">Вход на сайт</button>
</div>
</form>-->

{% endblock %}